// 1rem = 50px;    设计图纸375px
@import url('//at.alicdn.com/t/font_674763_yeuks2xw4dvx6r.css');
.iconfont {
  position: relative;
  font-size: 0.32rem;
  top: 1px;
}
@charset "utf-8";
// 公共参数
@dark-red: #C72202;
@a-gray: #b9b9b9;
@form-width: 80%;
@logo-width:2.8rem;
body {
  background: #FFFFFF;

}
// body, html {
//     min-height: 100%;
//     height: auto !important;
// }

// 重置ydui的基础样式-----------用途：根据项目的ui设计，修改ydui的一些通用样式，非通用样式请使用自定义class嵌套
.yd-radio {
  padding-right: 0;
}


 .skyf{
  font-family: PingFangSC;
 }
.bggray {
  background-color: #F1F1F1 !important;
}
.bgdgray {
  background-color: #969696 !important;
}
.bgwhite {
  background-color: #FFFFFF !important;
}
.bgred {
  background-color: #C83A03 !important;
}
// ydui css重置
 // 表单cell
.yd-cell:after,.yd-cell-item:not(:last-child):after {
    margin-left: .24rem;
    width: -moz-calc(100% - .48rem);
    width: -webkit-calc(100% - .48rem);
    width: calc(100% - .48rem);
    border-bottom: 1px solid #d9d9d9;
}

// 满屏设置
.rich-view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  transition: all .2s cubic-bezier(.55, 0, .1, 1);
  -webkit-overflow-scrolling: touch;
  background-color: white;
}
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0;content:"clear"}
.margin-top-lg{margin-top:1rem !important}
.margin-top-xd{margin-top:.6rem !important}
.margin-top-md{margin-top:.4rem !important}
.margin-top-sm{margin-top:.2rem !important}
.margin-top-xs{margin-top:.1rem !important}
.margin-left-lg{margin-left:1rem !important}
.margin-left-md{margin-left:.4rem !important}
.margin-left-sm{margin-left:.2rem !important}
.margin-left-xs{margin-left:.1rem !important}
.margin-right-lg{margin-right:1rem !important}
.margin-right-md{margin-right:.4rem !important}
.margin-right-sm{margin-right:.2rem !important}
.margin-right-xs{margin-right:.1rem !important}
.margin-bottom-lg{margin-bottom:1rem !important}
.margin-bottom-md{margin-bottom:.4rem !important}
.margin-bottom-sm{margin-bottom:.2rem !important}
.margin-bottom-xs{margin-bottom:.1rem !important}
.padding-xxs {padding: 0.04rem !important}
.padding-xs {padding: 0.1rem !important}
.padding-sm {padding: 0.2rem !important}
.padding-md {padding: 0.4rem !important}
.padding-lg {padding: 1rem !important}
.padding-0{padding: 0 !important}
.padding-left-0{padding-left: 0 !important}
.padding-right-0{padding-right: 0 !important}
.padding-top-0{padding-top: 0 !important}
.padding-bottom-0{padding-bottom: 0 !important}
.padding-top-lg{padding-top:1rem !important}
.padding-top-md{padding-top:.4rem !important}
.padding-top-sm{padding-top:.2rem !important}
.padding-top-xs{padding-top:.1rem !important}
.padding-left-lg{padding-left:1rem !important}
.padding-left-md{padding-left:.4rem !important}
.padding-left-xm{padding-left:.24rem !important}
.padding-left-sm{padding-left:.2rem !important}
.padding-left-xs{padding-left:.1rem !important}
.padding-right-lg{padding-right:1rem !important}
.padding-right-md{padding-right:.4rem !important}
.padding-right-sm{padding-right:.2rem !important}
.padding-right-xs{padding-right:.1rem !important}
.padding-bottom-lg{padding-bottom:1rem !important}
.padding-bottom-md{padding-bottom:.4rem !important}
.padding-bottom-sm{padding-bottom:.2rem !important}
.padding-bottom-xs{padding-bottom:.1rem !important}
.border-none {
  border:none !important;
}
.radius5{border-radius: 5px;}
/* ============================================================
   flex：定义布局为盒模型
   flex-v：盒模型垂直布局
   flex-1：子元素占据剩余的空间
   flex-align-center：子元素垂直居中
   flex-pack-center：子元素水平居中
   flex-pack-justify：子元素两端对齐
   ============================================================ */
.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width: 100%;}
.flex-v{-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.flex-1{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;position: relative;}
.flex-align-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.flex-pack-center{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
.flex-pack-justify{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
.padding-sm>.flex>.flex-1 {padding:.3rem .2rem;}
.flex-border .flex-1:first-child:after{position: absolute;width: 100%;height: 1px;background: #EBEBEB;content: ' ';bottom: 0;left: .2rem;}
.flex-border .flex-1:last-child:after {position: absolute;width: 100%;height: 1px;background: #EBEBEB;content: ' ';bottom: 0;right: .2rem;}

// 纯布局，需要其他样式请另外添加样式名，如带边框的布局，cl-box-border，斑马线cl-box-crossing，.cl-box-bottom只要下边线
.cl-box{display:table;width:100%}
.cl-row{display:table-row;vertical-align:middle;word-wrap:break-word;word-break:break-all;}
.cl-row .cl-td{display:table-cell;vertical-align:middle}
.cl-box-padding .cl-row .cl-td{display:table-cell;vertical-align:middle;padding: .3rem;}
.cl-box-border {background-color: #FFFFFF;border:1px solid #EBEBEB;border-radius: 4px;}
.cl-box-border .cl-td, .cl-box-bottom .cl-td{position: relative; padding: .3rem;}
.cl-box-border .cl-td:first-child:after, .cl-box-bottom .cl-td:first-child:after{position: absolute;width: 100%;height: 1px;background: #EBEBEB;content: ' ';bottom: 0;left: .2rem;}
.cl-box-border .cl-td:last-child:after, .cl-box-bottom .cl-td:last-child:after{position: absolute;width: 100%;height: 1px;background: #EBEBEB;content: ' ';bottom: 0;right: .2rem;}
.cl-box-border .cl-row:last-child .cl-td:after{height: 0;}
.cl-row-none.cl-row .cl-td:after{height: 0;}

// 底部带.2rem的灰间隔，上下0.4rem
.list-child {
    position: relative;
    padding-top: 0.4rem;
    padding-bottom: .6rem;
}
.list-child:after {
    position: absolute;
    content: " ";
    width: 100%;
    height: .2rem;
    background: #F1F1F1;
    bottom: 0rem;
    left:0;
    z-index: 9;
}
// 透明度
.opacity09 {
  filter:alpha(opacity=90);
  -moz-opacity:0.9;
  opacity:0.9;
}
.opacity05 {
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  opacity:0.5;
}
.opacity1 {
  filter:alpha(opacity=100);
  -moz-opacity:1;
  opacity:1;
}
// 字体大小
 .fs10 {
  font-size: .2rem;
}
.fs12 {
  font-size: .24rem;
}
.fs14 {
  font-size: .28rem;
}
.fs16 {
  font-size: .32rem;
}
.fs18 {
  font-size: .36rem;
}
.fs20 {
  font-size: .4rem;
}
.fw600{
  font-weight: 600;
}
//深灰
.dgray {
  color: #282828;
}
/*灰色*/
.gray {
  color: #B5B5B5;
}
// 浅灰
.fgray {
  color: #B9B9B9;
}
//淡灰
.ffgray {
  color: #CCCCCC;
}
.red {
  color: #C93F09;
}
/*浅红*/
.fred {
  color:#D58B5E;
}
//浅橙色
.forange{
    color: #CD733B;
}
// 字体黑
.fblack {
  color: #282828;
}
// 链接蓝
.ablue {
  color:#3F95FA;
}
.white {
  color: #FFFFFF;
}

//常用图片大小
.imgSize50{
    width: 1rem;
    height: 1rem;
}
.imgSize160{
    width: 3.2rem;
    height: 3.2rem;
}

// 文字处理
// 超出宽度显示省略号(如果没有效果，要考虑下作用元素上的宽度问题)
.textfir {
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
//强制不换行
.nowrap {
  white-space:nowrap;
}
// 自动换行
.breakWord {
  white-space: normal;
  word-wrap: break-word
}
// 最多显示两行，超出显示省略号
.text2row{
   text-overflow: -o-ellipsis-lastline;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}
// 字体居顶
.text-top{
  vertical-align: text-top;
}
// 字体居中
.text-middle{
  vertical-align: middle;
}
/*字母全转大写*/
.Uppercase {
  text-transform:uppercase;
}
/*字母全转小写*/
.Lowercase {
  text-transform:lowercase;
}
/*border，padding计算在宽高内*/
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
// 字体图标
.hyicon, .bhicon, .qpicon, .jjicon, .ygicon{
  position: relative;
  font-size: .2rem;
  &:after {
    padding: 0 1px;
    display: inline-block;
  }
}
.hyicon:after{
  content: '含佣';
  color: #D9956D;
  border: 1px solid #D9956D;
  border-radius: 2px;
}
.bhicon:after{
  content: '编';
  color: #6C6C6C;
  border: 1px solid #D7D7D7;
}
.qpicon:after{
  content: '起';
  color: #6C6C6C;
  border: 1px solid #D7D7D7;
}
.jjicon:after{
  content: '加';
  color: #6C6C6C;
  border: 1px solid #D7D7D7;
}
.ygicon:after{
  content: '预';
  color: #6C6C6C;
  border: 1px solid #D7D7D7;
}
// 底部固定块
.footFixed {
    border: 1px solid #F4F4F4;
    height: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background: #FFFFFF;
}
.footerFixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
/*   底部固定块级按钮
<footer class="footerFixed">
<yd-button class="sky-btn-orange fs16" @click.native="submit" size="large" type="primary">提交</yd-button>
</footer>
*/
// 输入框
.sky-inp {
  background-color: #F2F2F2;
  border:none;
  padding: 0.1rem;
  display: inline-block;
}
.sky-inp-max {
  background-color: #F7F7F7;
  border:none;
  padding: .2rem .1rem;
  display: inline-block;
  width: 100%;
}
// 输入框底纹字体颜色 
.sky-p-gray:-ms-input-placeholder{color:#979797;}/* Internet Explorer 10+ */ 
.sky-p-gray::-webkit-input-placeholder{color:#979797;}/* WebKit browsers */
.sky-p-gray::-moz-placeholder{color:#979797;}/* Mozilla Firefox 4 to 18 */ 
.sky-p-gray:-moz-placeholder{color:#979797;}/* Mozilla Firefox 19+ */ 
// 开关
.skySwitch {
  height: 26px;
  display: inline-block;
}
.skySwitch:before {
    width: 0px;
}
.skySwitch:after, .skySwitch:before {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: 4px;
  left: 8px;
}
// 按钮
.yd-btn.sky-btn {
  border-radius: 0;
  .border-box;
}
// 按钮  橙色黑底（私洽按钮）
.yd-btn.sky-btn-orange {
  padding: 0 .24rem;
}
.sky-btn-orange,.sky-btn-orange:active {
  border: 1px solid #AB6337;
  background-color: #272727;
  color: #AB6337;
}
// 按钮  灰字灰边（查看物流按钮）
.yd-btn.sky-btn-gray {
  border: 1px solid #CACACA;
  color: #CACACA;
  padding: 0 .24rem;
}

// 按钮  浅红字浅红边（确认收货按钮）
.yd-btn.sky-btn-fred {
  border: 1px solid #D38759;
  color: #D38759;
  padding: 0 .24rem;
}

.yd-btn.sky-btn-big {
  height: .8rem;
  width: 6rem;
  margin: 0 auto;
  display: block;
}
.yd-btn.sky-btn-md {
  height: .8rem;
  width: 5rem;
  margin: 0 auto;
  display: block;
}
.yd-btn.sky-btn-richmd {
  height: 1rem;
  width: 3rem;
  margin: 0 auto;
  display: block;
}
// 常用标题样式(拍场中文)
.cntitle {
  font-size: 0.36rem;
  color: #282828;
  margin-bottom: .2rem;
  font-weight: 500;
}
// 常用标题样式(拍品中文)
.cnGoodsName {
  font-size: 0.24rem;
  color: #474747;
  .textfir;
}
// 常用副标题样式(拍场英文)
.entitle {
  font-size: 0.28rem;
  color: #282828;
  margin-bottom: .2rem;
}
// 常用标题样式(拍品英文)
.enGoodsName {
  font-size: 0.24rem;
  color: #282828;
  .textfir;
  .Uppercase
}

// 切换效果
.slide-left-enter,
.slide-right-leave-active {
opacity: 0;
-webkit-transform: translate(30px, 0);
transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
opacity: 0;
-webkit-transform: translate(-30px, 0);
transform: translate(-30px, 0);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
/*动画效果*/  
@-webkit-keyframes fadeIn {  
    0% {  
    opacity: 0; /*初始状态 透明度为0*/  
    }  
    20%{  
        opacity: .2;  
    }  
    50% {  
        opacity: .5; /*中间状态 透明度为0.5*/  
    }  
    70%{  
        opacity: .7;  
    }  
    100% {  
        opacity: 1; /*结尾状态 透明度为1*/  
    }  
}  
.fadeIn05s {
    /*调用动画效果*/  
  -webkit-animation-name: fadeIn; /*动画名称*/  
  -webkit-animation-duration: .5s; /*动画持续时间*/  
  -webkit-animation-iteration-count: 1; /*动画次数*/  
  -webkit-animation-delay: 0s; /*延迟时间*/  
}

/*价格    ￥1300*/
.priceNum{
    color: #C93B00;
    font-size: 0.32rem;
}
.priceNum-sm{
    color: #C93B00;
    font-size: 0.28rem;
}
.priceNum-xs{
    color: #C93B00;
    font-size: 0.24rem;
}
/*价格标题    起拍价，当前价，成交价*/
.PriceTitle {
  color: #282828;
}
.PriceTitle-sm {
  color: #282828;
  font-size: 0.24rem;
}
.PriceTitle-xs {
  color: #282828;
  font-size: 0.20rem;
}



// login模块（注册，登录，重置密码）
 .logoImg {
  text-align: center;
  img {
    margin-top: 1.6rem;
    width: @logo-width;
  }
 }
 .cellForm {
    width: @form-width;
    min-height: 6rem;
    margin: .4rem auto;
    padding-bottom: 0.2rem;
    .yd-btn-block {
      height: .8rem;
      font-size: .3rem;
      margin-top: .8rem;
      background: @dark-red;
    }
    i {
        font-size: 0.38rem;
        margin-right: 0.1rem;
     }
    .other {
      margin-top: 0.3rem;
      padding: 0 .24rem;
      a{
        color: @a-gray;
      }
    }
 }



 // 轮播图样式
 // type=1（首页轮播）
.banner1 {
  .swiper-slide {
    height: 4rem;
  }
  .swiper-pagination-bullet {
    border-radius: 1px;
    width: 0.2rem;
    height: 2px;
    background-color: #D8D8D8;
    .opacity05;
  }
  .swiper-pagination-bullet-active {
    .opacity1;
  }
}
/*type=2(历史拍卖场轮播)*/
.banner2 {
  .swiper-slide {
    padding-left: 0.2rem;
    width: 80%;
    height: 4.4rem;
    img {
      width: 100%;
      height: 3.6rem;
    }
  }
}
/*type=3(饮用精选轮播)*/
.banner3 {
  background-color: white;
  .swiper-slide {
    img {
      width: 100%;
      height: 2.6rem;
    }
  }
}
/*type=4(正在热拍轮播)*/
.banner4 {
  position: initial;
  .swiper-wrapper {
    position: initial;
  }
   .swiper-pagination {
     top: 1rem;
     left: auto;
     width: auto;
     right: 0.2rem;
     .swiper-pagination-bullet-active {
      background: #272727;
     }
     .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
     }
   }
  .swiper-slide {
    height: 4rem;
    .slideChild {
      img {
        max-height: 2.6rem;
      }
    }
  }
  .yd-grids-3 .yd-grids-item {
    .border-box;
    padding-left: 0.04rem !important;
    padding-right: 0.04rem !important;
  }
  .yd-grids-3:before, .yd-grids-3 .yd-grids-item:not(:nth-child(3n)):before{
    border: none;
  }
}
// 详情页轮播
.banner5 {
  position: relative;
  .swiper-pagination-fraction {
    bottom: 1rem;
    text-align: right;
    padding-right: .4rem;
    color: #979797;
    .swiper-pagination-current {
      color: #282828;
      .fs18;
    }
  }
}
// 首页搜索头部
.searchead {
  height: 1rem;
  .yd-navbar-center-box {
    width: 60%;
    margin-left: 15%;
  }
}
.iconBox {
  text-align: center;
  display: inline-block;
  i{
    display: block;
  }
  span {
    display: block;
    font-size: 0.2rem;
  }
}


// 拍场大标题类
.box-type {
  position: relative;
  width: 100%;
  height: 1.48rem;
  padding-top: .32rem;
  background-color:#F1F1F1;
  text-align: center;
  .cn {
    font-size: 0.4rem;
    color: #282828;
  }
  .en {
    font-size: 0.2rem;
    color: #979797;
    letter-spacing: 5px;
  }
  .iconfont {
    position: absolute;
    top: .6rem;
    right: 0.2rem;
    font-weight: 100;
    color: #CCCCCC;
  }
}
// 列表标题（首页两列的）
.lists {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  .child {
    text-align: left;
    position: relative;
  }
  .iconRight {
    position: absolute;
    top: .2rem;
    right: .2rem;
    font-weight: 100;
    color: #CCCCCC;
  }
}




/*发送验证码*/
.sendCode {
  border:none;
}
.sendCode.yd-btn-disabled {
  background: none;
}
// 首页两列列表
.ydlist {
  padding: 0;
  .yd-list-item:nth-child(odd) {
    padding-right: .1rem;
  }
  .yd-list-item:nth-child(2n) {
    padding-left: .1rem;
  }
  .yd-list-item {
    padding-top: 0;
    padding-bottom: 0.4rem;
  }
}

// 列表（拍品）
.scroll {
 .yd-list-theme4 .yd-list-item .yd-list-title {
  // .textfir
   b {
      font-size: 0.32rem;
      width: 100%;
      max-width: 4.2rem;
      .textfir;
   }
 }
}
// 领先，出局，无效
.imgIcon {
  .iconImg {
    position: absolute;
    top: .6rem;
    left: -.2rem;
    width: 1.1rem;
    height: 0.56rem;
    background: none;
  }
}
// 无限加载
.scroll-a {
  .yd-list-theme4 {
    padding: 0;
  }
  .yd-list-theme4 .yd-list-item {
      height: auto;
      padding: 0;
  }
  .yd-list-theme4 .yd-list-item .yd-list-mes {
      padding-left: .4rem;
  }
  .yd-list-theme4 .yd-list-item .yd-list-img {
      width:2.8rem;
      padding: 0 .2rem;
      position: relative;
  }
  .yd-list-img {
      max-height: 3.2rem;
      min-height: 2.8rem;
      height: auto;
      img {
        margin-top: auto;
      }
  }
  .sqBtn {
    position: absolute;
    bottom: .2rem;
  }
}
.yd-list-donetip {
    background: #F1F1F1;
  }
// 弹出框
.yd-confirm-hd, .yd-confirm-bd{
  text-align: center;
}
// 出价窗口
.biddenTab{
  .yd-tab-nav-item>a {
    height: 1.2rem;
    line-height: 1.2rem;
    background: #F8F8F8;
    .fs16;
    .gray;
  }
  .yd-tab-active a {
    color: #272727;
    .fs18;
  }
  .yd-tab-nav:after,.yd-tab-nav-item:not(:last-child):after {
    border:none;
  }
  .yd-tab-active:before {
    display: none;
  }
  .biddenText {
    background: #F7F7F7;
    height: 1.8rem;
    color: #979797;
    .fs14;
    img {
      height: 0.6rem;
      width: 0.6rem;
      display: inline-block;
      margin-top: 0.15rem;
      .pull-left;
    }
    .tr {
      padding: 0 0.3rem;
      height: 0.9rem;
      line-height: 0.9rem;
    }
  }
  // 数字加减
  .yd-spinner {
    position: relative;
    height: 3.2rem !important;
    width: 100% !important;
    border:none;
    input {
      font-size: 0.72rem;
      position: relative;
      z-index: -1;

    }
    a {
      background: none;
      &:after {
        color: #CC723C;
        font-size: 0.6rem;
        font-weight: 200;
      };
    }
  }
  .xtext {
    position: absolute;
    top: 2.5rem;
    width: 100%;
    text-align: center;
    color: #979797;
  }
  .sky-btn {
    width: 100%;
    height: 1rem;
    .fs16;
  }
}

// 支付
.payTypeImg {
  height: .6rem;
  width: .6rem;
}


// 表单布局区域（结算中心）
.sky-box-cell {
  padding: 0.2rem;
  .yd-cell {
    border-radius: 5px;

  }
  .yd-cell:after {
    width: 100%;
    margin-left: 0;
  }
  // 用于solt百分百布局，详细参考结算页面
  .widthRich {
    .yd-cell-left {
      width: 100%;
    }
    .position {
      position: relative;
      width: 100%;
      padding: .2rem .6rem .2rem 0;
      i{
          position: absolute;
          right: 0;
          top: 42%;
          .gray;
      }
      .leftImg {
        width: 1rem;
        height: 1rem;
        display: inline-block;
      }
      .rightText{
        position: relative;
        display: inline-block;
        font-size: 0.24rem;
        top: -.1rem;
      } 
    }
  }
}

// 我的竞拍
.my-sale-box {
  .yd-tab-panel {
      margin-top: 2rem;
  }
  .yd-list-donetip {
     background: none;
  }
  .yd-tab-nav {
    .yd-tab-nav-item {
      background-color: #F7F7F7;
      color: #979797;
      font-size: .32rem;
    }
    .yd-tab-active {
      color: #272727;
    }
    .yd-tab-active:before {
        width: 20%;
        margin-left: -10%;
        color: #CD733B;
        height: 3px;
    }
  } 
  .yd-tab-nav-item:not(:last-child):after{
     top: 0;
     height: 100%;
     border-right: 4px solid #FFFFFF;
  }
}


//物流跟踪
.sky-timeline-l {
    padding-left: 1.3rem;
    &:after,.yd-timeline-custom-item:not(:last-child):after, .yd-timeline-item:not(:last-child):after {
        border: none;
    }
    .yd-timeline-custom-item {
        margin-top: .4rem;
    }
    
}




// 弹窗（中间弹出）

.padding-sm {
  .yd-cell {
    padding: .2rem;
  }
}
.yd-popup-content {
  overflow-y: visible;
}
.itemTitle {
  display: block;
  width: 100%;
  text-align: center;
  font-size: .36rem;
  padding-top: .4rem;
  padding-bottom: .2rem;
}
.closeIcon {
position: absolute;
top: -.2rem;
right: -.2rem;
z-index: 10;
font-size: .4rem;
&:after {
  content: ' ';
  width:.3rem;
  height: .3rem;
  background:#FFFFFF;
  position: absolute;
  top: .1rem;
  left: .05rem;
  z-index: -1;
  border-radius: 100%;
};
}



.headFixed {
 .yd-tab-box {
  position: fixed;
  top: 1rem;
  z-index: 999;
  width: 100%;
 }
 .yd-tab-panel {
  margin-top: 2rem;
 }
}

.detailsFooter {
    border: 1px solid #F4F4F4;
    height: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background: #FFFFFF;
   a{
    margin-top: 0.2rem;
    display: block;
    float: left;
    text-align: center;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    i{
      display: block;
    }
    span{
      font-size: 0.2rem;
    }
   }
   .sky-btn {
      width: 4.6rem;
      height: 1rem;
      float: right;
      font-size: .32rem;
    }
 }

.inputBox {
  margin-left: -0.3rem;
  color: #C83A03;
}
.inputBox .yd-input, .inputBox .yd-input>input{
  width: 2rem;
  font-size: 0.34rem;
  color: #C83A03;
}
@media screen and (min-width: 1024px) {
    .scroll {
     .yd-list-theme4 .yd-list-item .yd-list-title {
      // .textfir
       b {
          max-width: 6.8rem;
       }
     }
    }
}