//框架，样式初始化样式
.el-radio__input.is-checked .el-radio__inner {
    border-color: #CD733B;
    background: #CD733B;
}
.el-radio__inner {
    width: .4rem;
    height: .4rem;
}
.el-radio__input.is-checked+.el-radio__label {
    color: #CD733B;
}

//下弹出框，阻止背景回到顶部
.g-fix-ios-prevent-scroll {
    position: relative !important;
}


.radius5 .yd-cell {
    border-radius: 5px;
}
//表单最后一行没有下划线
.afterNone .yd-cell:after {
    border: none;
}

.yd-popup-center {
    z-index: 999999;
}
//mint-ui   加载动画样式
//.mint-indicator-wrapper {
//  z-index: 99999;
//  background: none !important;
//}
//.mint-indicator-mask {
//  opacity:1 !important;
//  z-index: 9999;
////  background: #252A2E !important;
//  background: rgba(0, 0, 0, 0.9) !important;
//}
