//框架，样式初始化样式
.el-radio__input.is-checked .el-radio__inner {
    border-color: #CD733B;
    background: #CD733B;
}
.el-radio__inner {
    width: .4rem;
    height: .4rem;
}
.el-radio__input.is-checked+.el-radio__label {
    color: #CD733B;
}

//下弹出框，阻止背景回到顶部
.g-fix-ios-prevent-scroll {
    position: relative !important;
}


.radius5 .yd-cell {
    border-radius: 5px;
}
//表单最后一行没有下划线
.afterNone .yd-cell:after {
    border: none;
}

.yd-popup-center {
    z-index: 999999;
}
//mint-ui   加载动画样式
//.mint-indicator-wrapper {
//  z-index: 99999;
//  background: none !important;
//}
//.mint-indicator-mask {
//  opacity:1 !important;
//  z-index: 9999;
////  background: #252A2E !important;
//  background: rgba(0, 0, 0, 0.9) !important;
//}

//初始化选项卡
.yd-tab-panel {
    overflow: initial;
}
.yd-tab-panel-item {
    display: none;
}
.yd-tab-panel-item.yd-tab-active{
    display: block
}
//选项卡不要边框和分割线
.sky-none-tab {
    .yd-tab-nav-item:not(:last-child):after {
        border: none !important;
    }
    .yd-tab-active:before {
        width: 30%;
        margin-left: -15%;
        height: 3px;
    }
} 
.sky-nav-16 {
    .yd-tab-nav-item>a {
        font-size: .32rem;
    }
}




//搜索框样式
.sky-search {
   .yd-search-input {
       padding: 0;
   }
   .search-input {
       margin-right: 0;
       background-color: #F2F2F2;
   }
}
//头部搜索
.sky-header-search {
    .yd-search-input {
        padding: .1rem;
       background-color: #FFFFFF;
   }
   .search-input {
       margin-right: 0;
   }
    .search-icon, .cancel-text {
        display: none !important;
    }
}
.header-search {
    background-color: #F8F8F8;
    padding: .1rem .2rem .1rem .3rem;
    .sky-header-search {
        display: inline-block;
        width: 85%;
    }
    .off {
        margin-left: 3%;
    }
}
.headerFixed {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
}


table{border-spacing:0;border-collapse:collapse}
td,th{padding:0}
thead{display:table-header-group}
tr{page-break-inside:avoid}
.table{border-collapse:collapse!important}
.table td,.table th{background-color:#fff}
.table-bordered td,.table-bordered th{border:1px solid #D8D8D8!important}
table{background-color:transparent}
th{text-align:left}
.table{width:100%;max-width:100%;margin-bottom:.4rem}
.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{padding:.1rem;line-height:1.42857143;border-top:1px solid #D8D8D8}
.table>thead>tr>th{vertical-align:bottom;border-bottom:2px solid #D8D8D8}
.table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th{-top:0}
.table>tbody+tbody{border-top:2px solid #D8D8D8}
.table .table{background-color:#fff}
.table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{padding:.1rem}
.table-bordered{border:1px solid #D8D8D8}
.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{border:1px solid #D8D8D8}
.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{border-bottom-width:2px}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {background-color: #F5F8FA;  }
table col[class*=col-]{position:static;display:table-column;float:none}
table td[class*=col-],table th[class*=col-]{position:static;display:table-cell;float:none}
.table>tbody>tr.active>td,.table>tbody>tr.active>th,.table>tbody>tr>td.active,.table>tbody>tr>th.active,.table>tfoot>tr.active>td,.table>tfoot>tr.active>th,.table>tfoot>tr>td.active,.table>tfoot>tr>th.active,.table>thead>tr.active>td,.table>thead>tr.active>th,.table>thead>tr>td.active,.table>thead>tr>th.active{background-color:#f5f5f5}
.table>tbody>tr.success>td,.table>tbody>tr.success>th,.table>tbody>tr>td.success,.table>tbody>tr>th.success,.table>tfoot>tr.success>td,.table>tfoot>tr.success>th,.table>tfoot>tr>td.success,.table>tfoot>tr>th.success,.table>thead>tr.success>td,.table>thead>tr.success>th,.table>thead>tr>td.success,.table>thead>tr>th.success{background-color:#dff0d8}
.table>tbody>tr.info>td,.table>tbody>tr.info>th,.table>tbody>tr>td.info,.table>tbody>tr>th.info,.table>tfoot>tr.info>td,.table>tfoot>tr.info>th,.table>tfoot>tr>td.info,.table>tfoot>tr>th.info,.table>thead>tr.info>td,.table>thead>tr.info>th,.table>thead>tr>td.info,.table>thead>tr>th.info{background-color:#d9edf7}
.table-hover>tbody>tr.info:hover>td,.table-hover>tbody>tr.info:hover>th,.table-hover>tbody>tr:hover>.info,.table-hover>tbody>tr>td.info:hover,.table-hover>tbody>tr>th.info:hover{background-color:#c4e3f3}
.table>tbody>tr.warning>td,.table>tbody>tr.warning>th,.table>tbody>tr>td.warning,.table>tbody>tr>th.warning,.table>tfoot>tr.warning>td,.table>tfoot>tr.warning>th,.table>tfoot>tr>td.warning,.table>tfoot>tr>th.warning,.table>thead>tr.warning>td,.table>thead>tr.warning>th,.table>thead>tr>td.warning,.table>thead>tr>th.warning{background-color:#fcf8e3}
.table-hover>tbody>tr.warning:hover>td,.table-hover>tbody>tr.warning:hover>th,.table-hover>tbody>tr:hover>.warning,.table-hover>tbody>tr>td.warning:hover,.table-hover>tbody>tr>th.warning:hover{background-color:#faf2cc}
.table>tbody>tr.danger>td,.table>tbody>tr.danger>th,.table>tbody>tr>td.danger,.table>tbody>tr>th.danger,.table>tfoot>tr.danger>td,.table>tfoot>tr.danger>th,.table>tfoot>tr>td.danger,.table>tfoot>tr>th.danger,.table>thead>tr.danger>td,.table>thead>tr.danger>th,.table>thead>tr>td.danger,.table>thead>tr>th.danger{background-color:#f2dede}
.table-hover>tbody>tr.danger:hover>td,.table-hover>tbody>tr.danger:hover>th,.table-hover>tbody>tr:hover>.danger,.table-hover>tbody>tr>td.danger:hover,.table-hover>tbody>tr>th.danger:hover{background-color:#ebcccc}
.table-responsive{min-height:.01%;overflow-x:auto}
td.sky-title{color: #767676;background: #F2F2F2;}
